{
  "backend": "python_icat",
  "DB_URL": "",
  "ICAT_URL": "https://scigateway-preprod.esc.rl.ac.uk:8181",
  "icat_check_cert": true,
  "log_level": "DEBUG",
  "log_location": "{{ datagateway_api_log }}/logs.log",
  "generate_swagger": false
}
