{
  "backend": "db",
  "DB_URL": "mysql+pymysql://icatdbuser:icatdbuserpw@localhost:3306/icatdb",
  "ICAT_URL": "https://localhost:8181",
  "icat_check_cert": false,
  "log_level": "WARN",
  "log_location": "{{ datagateway_api_log }}/logs.log",
  "generate_swagger": false,
  "test_user_credentials": {"username": "root", "password": "pw"},
  "test_mechanism": "simple"
}
