{
  "backend": "python_icat",
  "DB_URL": "",
  "ICAT_URL": "{{ datagateway_api_icat_url }}",
  "icat_check_cert": true,
  "log_level": "DEBUG",
  "log_location": "{{ datagateway_api_log }}/logs.log",
  "generate_swagger": false
}
