{
  "facilityName": "Generic",
  "idsUrl": "{{ datagateway_ids_url }}",
  "apiUrl": "/datagateway-api",
  "downloadApiUrl": "{{ datagateway_download_api_url }}",
  "helpSteps": [
    {
      "target": "#plugin-link--search-data",
      "content":
        "DataGateway Search allows you to search for specific datasets, datafiles or investigations using date and text filters"
    },
    {
      "target": ".tour-search-tab-select",
      "content": "Select which type of data to view the search results for"
    }
  ],
  "routes": [
    {
      "section": "Test",
      "link": "/search/data",
      "displayName": "Search",
      "order": 0
    }
  ],
  "pluginHost": "https://{{ ansible_fqdn }}"
}
