{% if scigateway_certificate_file is defined and scigateway_key_file is defined and scigateway_certificate_file|length and scigateway_key_file|length %}
<VirtualHost *:80>
  ServerName {{ scigateway_server_name }}
  ServerAlias *
  
  Redirect permanent / https://{{ scigateway_server_name }}/
</VirtualHost>

<VirtualHost *:443>
  Protocols h2 h2c http/1.1

  SSLEngine On
  SSLCertificateFile {{ scigateway_certificate_file }}
  SSLCertificateChainFile {{ scigateway_certificate_bundle_file if scigateway_certificate_bundle_file is defined and scigateway_certificate_bundle_file|length else scigateway_certificate_file }}
  SSLCertificateKeyFile {{ scigateway_key_file }}
  Header always set Strict-Transport-Security "max-age=63072000"

{% else %}
<VirtualHost *:80>
{% endif %}
  ServerName {{ scigateway_server_name }}

  DocumentRoot {{ scigateway_dir }}
  
  # compress all files except images
  SetOutputFilter DEFLATE
  SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png)$" no-gzip

  WSGIPassAuthorization On

{% if scigateway_auth_apache_conf is defined %}{{ scigateway_auth_apache_conf }}{% endif %}

{% if datagateway_api_apache_conf is defined %}{{ datagateway_api_apache_conf }}{% endif %}

{% if datagateway_download_api_apache_conf is defined %}{{ datagateway_download_api_apache_conf }}{% endif %}

  <FilesMatch ".(json|html)$">
    Header set Cache-Control "no-cache"
  </FilesMatch>

  <Directory {{ scigateway_dir }}>
    RewriteEngine on

    Options FollowSymLinks
    AllowOverride None
    Require all granted
    {% if datagateway_api_apache_conf is defined %}RewriteRule ^search-api/(.*) /datagateway-api/search-api/$1 [QSA,L]{% endif %}
    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    # Rewrite everything else to index.html to allow html5 state links
    RewriteRule ^ index.html [QSA,L]
  </Directory>

  Alias /plugins {{ scigateway_plugins_dir }}
  <Directory {{ scigateway_plugins_dir }}>
    RewriteEngine off

    Options None
    AllowOverride None
    Require all granted
  </Directory>

  {% if additional_apache_conf is defined %}{{ additional_apache_conf }}{% endif %}
  
</VirtualHost>

SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
SSLHonorCipherOrder     off
SSLSessionTickets       off

SSLUseStapling   On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"

ServerTokens Prod
ServerSignature Off
TraceEnable Off
